<ion-footer class="bottom-nav-footer">
  <ion-tab-bar class="bottom-nav">

    <ion-tab-button
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      routerLinkActive
      #rla="routerLinkActive"
      [class.tab-selected]="rla.isActive"
      class="bottom-nav__tab"
    >
      <ion-icon
        [name]="rla.isActive ? item.activeIcon : item.icon"
        class="bottom-nav__icon"
      ></ion-icon>
      <ion-label class="bottom-nav__label">{{ item.label }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>